name: Build Android

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/build-android.yml'
      - 'package/cpp/**'
      - 'package/android/**'
      - 'examples/**/android/**'
      - 'bun.lock'
  pull_request:
    paths:
      - '.github/workflows/build-android.yml'
      - 'package/cpp/**'
      - 'package/android/**'
      - 'examples/**/android/**'
      - 'bun.lock'

jobs:
  build:
    name: Build Android Example App
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17
          java-package: jdk

      - name: Restore bun cache
        uses: actions/cache@v4
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lock') }}
          restore-keys: |
            ${{ runner.os }}-bun-

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Restore Gradle cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Build Android app
        working-directory: examples/AppExampleFabric/android
        run: ./gradlew assembleDebug --build-cache

      - name: Upload .apk to GitHub
        uses: actions/upload-artifact@v4
        with:
          name: Example App (.apk)
          path: examples/AppExampleFabric/android/app/build/outputs/apk/debug/app-debug.apk
          if-no-files-found: error
